body{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    line-height: 2;
    width: 100%;
    position: relative;
    font-family: 'Averia Sans Libre', cursive;
    
}

.head{
    position: relative;
    padding: 20px;
    font-size: 50px;
    z-index: 20;
}

.timer{ padding: 10px;
    position: relative;
    z-index: 20;
}

button{
    position: relative;
    background-color: white;
    color: orange;
    padding: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    border: 3px orange solid;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
    z-index: 13;

}

button:hover{
    background-color: orange;
    color: white;
    border: white 3px solid;
}

.game{
    position: relative;
    margin-top: 10px;
    z-index: 20;
}

#sunImage{
    position: absolute;
    top: 89px;
    left: 150px;
    
    
}


.answers{
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}

h2{
    width: 300px;
    margin: 0 auto;
}

h2:hover{
   
   border: white 3px solid;
   background-color: orange;
}










.round{
    height: 188px;
    width: 190px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 114px;
    animation-name: eclipse;
        animation-duration: 16s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
}


@keyframes eclipse{
    from {transform: translate(-20px, 0px);}
        to {transform: translate(174px, 0px);} 
}

.roundOn{
        z-index: 1;
        height: 188px;
        width: 190px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        top: 114px;
        left: 174px;
}




.roundOff{
    z-index: 1;
    height: 188px;
    width: 190px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 114px;
    animation-name: eclipseOff;
        animation-duration: 27s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
}

@keyframes eclipseOff{
    from {transform: translate(0px, 0px);}
        to {transform: translate(372px, 0px);} 
}











.sunset{
    position: absolute;
    z-index: 10;   
animation-name: sunset;
animation-duration: 21s;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

@keyframes sunset{
from {transform: translate(0px, 0px);}
to {transform: translate(0px, 500px);} 
}











#waves{
    position: absolute;
    top: 200px;
    left: -20px;
    z-index: 11;
    
   
}

.opacityWaves{
    position: absolute;

   
    background: black;
    opacity: .0;
    z-index: 12;
    height: 300px;
    width: 100%;
    top: 500px;
    animation: dimWaves;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes dimWaves {
    
    0% {
      opacity:.0;
    }
   
    100% {
      opacity: 1;
    }
  }


  .bodyDim{
      animation: dimBody;
      animation-duration: 20s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
  }


  @keyframes dimBody {
    
    0% {
      background: lightskyblue;
    }
   
    100% {
      background: black;
    }
  }














  /* sunrise*/
.bodySundown{
    background-color: black;
}

.sundownWaves{
    position: absolute;

   
    background: black;
    opacity: 1;
    z-index: 12;
    height: 300px;
    width: 100%;
    top: 500px;

}

  .sunrise{
    position: absolute;
    z-index: 10;   
animation-name: sunrise;
animation-duration: 15s;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

@keyframes sunrise{
from {transform: translate(0px, 0px);}
to {transform: translate(0px, -380px);} 
}


.lightenWaves{
    position: absolute; 
    background: black;
    opacity: 1;
    z-index: 12;
    height: 300px;
    width: 100%;
    top: 500px;
    animation: lightenWaves;
    animation-duration: 13s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes lightenWaves {
    
    0% {
      opacity: 1;
    }
   
    100% {
      opacity: .0;
    }
  }


  .lightenBody{
    animation: lightenBody;
    animation-duration: 13s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes lightenBody {
  
  0% {
    background: black;
  }
 
  100% {
    background: lightskyblue;
  }
}




.endBackground{
    background-image: url(../images/sunset.jpg);
    background-size: cover;
}
